html,
body
{
	background	: #000;
	color		: #fff;	
	font-family	: arial;
}

#intro
{
	height	: 100px;
	width	: 472px;
}

#wrap
{
	display		: block;
	height		: 650px;
	position	: relative;
	width		: 1024px;
}

	#wrap a
	{
		color			: #fff;
		text-decoration	: none;
	}
	
	#wrap a:hover
	{
		color	: #ccc;
	}

	#wrap p
	{
		font-size		: 13px;
		line-height		: 140%;
		padding-bottom	: 15px;
	}

	#wrap h1
	{
		background	: transparent url('../img/logo.png') no-repeat top left;
		bottom		: 23px;
		height		: 46px;
		position	: absolute;
		right		: 50px;
		text-indent	: -99999px;
		width		: 213px;
		z-index		: 99999;
	}
	
	#wrap h1 a
	{
		display		: block;
		height		: 46px;
		width		: 213px;
	}
	
	#content-wrap
	{
		display		: block;
		height		: 100%;
		width		: 100%;
		
	}

		#content-wrap #content
		{
			position	: absolute;
		}
		
			#content-wrap #content h2
			{
				font-family		: Georgia;
				font-size		: 16px;
				font-weight		: bold;
				text-transform	: uppercase;
				overflow		: hidden;
				margin-bottom	: 20px;
				text-indent		: -99999px;
			}
			
			#content-wrap #content ul li
			{
				font-size	: 13px;
			}

	#nav
	{
		bottom		: 35px;
		left		: 50px;
		position	: absolute;
	}
	
		#nav ul li
		{
			display			: inline;
			font-size		: 12px;
			padding-right	: 30px;
			text-transform	: uppercase;
			cursor			: default;
			
		}
		
		#nav ul li.active
		{
			/*font-weight	: bold;*/
		}
		
			#nav ul li a
			{
				color			: #fff;
				text-decoration	: none;
			}
			
			#nav ul li a:hover
			{
				color	: #ccc;
			}
			
#images img
{
	position: absolute;
	top:0;
	left: -99999px;
}
